.rounded-button {
  padding: .5em .8em;
  border: 1px solid #1f1d19;
  border-radius: 50%;
  transition-property: font-size;
  transition-duration: 1s;
}

.rounded-button:hover {
  cursor: pointer;
  font-size: 1.2em;
}